<div class="cars-container">
  <div class="form-group">
      <label>Імя машини:</label>
      <input type="text" class="form-control" [(ngModel)]="carName"></div>
      <div class="form-group">
          <label>рік:</label>
          <input type="text" class="form-control" [(ngModel)]="carYear"></div>
          <div class="form-group">
              <button class="btn btn-success" (click)="addCar()">Send</button>
          </div>
          <div class="car-list">
              <app-t-components2 *ngFor="let car of cars" [carItem]="car"></app-t-components2>
          </div>
      </div>