<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <app-cars></app-cars> -->
      <!-- <app-validation-page></app-validation-page> -->
      <!-- <app-t-components></app-t-components> -->
      <!-- <app-cars></app-cars> -->
      <!-- <app-block4lesson1></app-block4lesson1> -->
      <!-- <app-block5lesson1></app-block5lesson1> -->
      <app-block6lesson1></app-block6lesson1>
    </div>
  </div>
</div>

