<!-- <button [disabled]="!canAddCar" class="btn btn-primary">Добавити машину</button>
<button (click)="addCar()" class="btn btn-primary">Добавити машину</button><hr>
<p>{{addCarstatus}}</p>
<app-car></app-car>      
<app-car></app-car>
блок 2 5 урок-->
<!-- <input type="text" class="form-control" (keyup)="onKeyUp($event)"> -->
<!-- <input type="text" class="form-control" (keyup.enter)="onKeyUp($event)"> -->
<!-- <input type="text" class="form-control" #myInp (input)="onKeyUp(myInp.value)"> -->
<!-- блок 2 6 урок don't working -->
<input type="text" class="form-control" (keyup.enter)="onKeyUp($event)" >
<input type="text" class="form-control" [(ngModel)]="inputFormtext">
<!-- <input type="text"[(ngModel)]="inputFormtext">  -->
<span>{{inputFormtext}}</span>

